<!DOCTYPE html>
{% load static %}
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" type="">

  <title> EdibleEpic - Food Recipes </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.css' %}" />

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" />
  <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"-->

  <!-- Custom styles for this template -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" />

</head>

<body>

  <div class="hero_area">
    <div class="bg-box">
      <img src="{% static 'assets/images/hero-bg.jpg' %}" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="{% url 'home' %}">
          <span>
            EdibleEpic
          </span>
          </a> 
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto ">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'new_recipes' %}">New Recipes</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" onclick="toggleDropdown()">Ingredients</a>
                <div class="dropdown-content" id="ingredientsDropdown">
                  <a href="{% url 'chicken' %}" class="dropdown-item">Chicken</a>
                  <a href="{% url 'beef' %}" class="dropdown-item">Beef</a>
                  <a href="{% url 'seafood' %}" class="dropdown-item">seafood</a>
                  <a href="{% url 'fruits' %}" class="dropdown-item">Fruits</a>
                  <a href="{% url 'vegetables' %}" class="dropdown-item">vegetables</a>
                  <a href="#" class="view-more" onclick="showMoreIngredients()">View More</a>
                  <div id="additionalIngredients" class="hidden-ingredients"></div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
            </ul>
              <form class="form-inline" method="GET" action="{% url 'search_results' %}">
                {% csrf_token %}
                {{ search_form.as_p }}
                <div class="input-group">
                  <!--input type="search" name="search_query" class="form-control search-data" placeholder="search any recipe"-->
                  <div class="input-group-append">
                    <button type="submit" class="fa fa-search"></button>
                  </div>
                </div>
              </form>

              <div class="user_option" id="userOption">
                <div class="user_link" id="userLink">
                  {% if user.is_authenticated %}
                  <a href="#" id="userIcon">
                      <i class="fa fa-user" aria-hidden="true"></i>
                  </a>
                  {% else %}
                  <a href="{% url 'signin' %}">
                    <i class="fa fa-user" aria-hidden="true"></i>
                  </a>
                  {% endif %}
                </div>
                {% if user.is_authenticated %}
                <div class="user_details" id="userDetails" style="display: none;">
                  <p>Welcome, {{ user.username }}</p>
                  <p>Email: {{ user.email }}</p>
                  <a href="{% url 'signout' %}">Sign Out</a>
                </div>
                {% endif %}
              </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->

    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      Authentic Indian Curry
                    </h1>
                    <p>
                      Experience the culinary richness of India through our array of handcrafted curry creations, where each dish tells a story of tradition, flavor, and authenticity, inviting you to explore the vibrant palette of Indian spices and ingredients.
                    </p>
                    <div class="btn-box">
                      <a href="{% url 'indiancurrys' %}" class="btn1">
                        Taste India
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      Classic Italian Pizza
                    </h1>
                    <p>
                      Savor the essence of Italy with our classic pizza creations, crafted with authentic Italian ingredients and traditional techniques that capture the true taste of Italy's culinary heritage.
                    </p>
                    <div class="btn-box">
                      <a href="{% url 'italianpizzas' %}" class="btn1">
                        Pizza Paradise
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      Decadent French Pastries
                    </h1>
                    <p>
                      Indulge in the exquisite craftsmanship of French pastries, where buttery croissants, delicate macarons, and flaky tarts transport you to the charming cafes of Paris with every delectable bite.
                    </p>
                    <div class="btn-box">
                      <a href="{% url 'frenchpastries' %}" class="btn1">
                        Divine Pastries
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <ol class="carousel-indicators">
            <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
            <li data-target="#customCarousel1" data-slide-to="1"></li>
            <li data-target="#customCarousel1" data-slide-to="2"></li>
          </ol>
        </div>
      </div>

    </section>
    <!-- end slider section -->
  </div>

<!-- Explore Start -->

            <div class="container-xxl pt-5 pb-3">
              <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                  <h5 class="section-title ff-secondary text-center text-primary fw-normal"></h5>
                  <h1 class="mb-5">Let's Explore</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                      <div class="explore-item text-center rounded overflow-hidden">
                        <div class="rounded-circle overflow-hidden m-4">
                          <img class="img-fluid" src="{% static 'assets/images/team-1.jpg' %}" alt="">
                        </div>
                        <h5 class="mb-0">Indian</h5>
                        <small>Food</small>
                        <div class="btn-square">
                          <a href="{% url 'indianfood' %}" class="button">
                            Explore Now
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                      <div class="explore-item text-center rounded overflow-hidden">
                        <div class="rounded-circle overflow-hidden m-4">
                          <img class="img-fluid" src="{% static 'assets/images/team-2.jpeg' %}" alt="">
                        </div>
                        <h5 class="mb-0">Chinese</h5>
                        <small>Food</small>
                        <div class="btn-square">
                          <a href="{% url 'chinesefood' %}" class="button">
                            Explore Now
                          </a>
                        </div>
                      </div>
                    </div> 
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                      <div class="explore-item text-center rounded overflow-hidden">
                        <div class="rounded-circle overflow-hidden m-4">
                            <img class="img-fluid" src="{% static 'assets/images/team-3.jpg' %}" alt="">
                        </div>
                        <h5 class="mb-0">Italian</h5>
                        <small>Food</small>
                        <div class="btn-square">
                          <a href="{% url 'italianfood' %}" class="button">
                            Explore Now
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                      <div class="explore-item text-center rounded overflow-hidden">
                        <div class="rounded-circle overflow-hidden m-4">
                            <img class="img-fluid" src="{% static 'assets/images/team-4.jpg' %}" alt="">
                        </div>
                        <h5 class="mb-0">Mexican</h5>
                        <small>Food</small>
                        <div class="btn-square">
                          <a href="{% url 'mexicanfood' %}" class="button">
                            Explore Now
                          </a>
                        </div>
                      </div>
                    </div> 
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                      <div class="explore-item text-center rounded overflow-hidden">
                        <div class="rounded-circle overflow-hidden m-4">
                            <img class="img-fluid" src="{% static 'assets/images/team-5.jpeg' %}" alt="">
                        </div>
                        <h5 class="mb-0">Korean</h5>
                        <small>Food</small>
                        <div class="btn-square">
                          <a href="{% url 'koreanfood' %}" class="button">
                            Explore Now
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                      <div class="explore-item text-center rounded overflow-hidden">
                        <div class="rounded-circle overflow-hidden m-4">
                            <img class="img-fluid" src="{% static 'assets/images/team-6.jpg' %}" alt="">
                        </div>
                        <h5 class="mb-0">Spanish</h5>
                        <small>Food</small>
                        <div class="btn-square">
                          <a href="{% url 'spanishfood' %}" class="button">
                            Explore Now
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                      <div class="explore-item text-center rounded overflow-hidden">
                        <div class="rounded-circle overflow-hidden m-4">
                            <img class="img-fluid" src="{% static 'assets/images/team-7.jpg' %}" alt="">
                        </div>
                        <h5 class="mb-0">Japanese</h5>
                        <small>Food</small>
                        <div class="btn-square">
                          <a href="{% url 'japanesefood' %}" class="button">
                            Explore Now
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                      <div class="explore-item text-center rounded overflow-hidden">
                        <div class="rounded-circle overflow-hidden m-4">
                            <img class="img-fluid" src="{% static 'assets/images/team-8.jpeg' %}" alt="">
                        </div>
                        <h5 class="mb-0"> Vietnamese </h5>
                        <small>Food</small>
                        <div class="btn-square">
                          <a href="{% url 'spanishfood' %}" class="button">
                            Explore Now
                          </a>
                        </div>
                      </div>
                    </div> 
                </div> 
              </div>         
            </div>
          </div>
          
<!-- Explore End -->

  <!-- end offer section -->

  <!-- food section -->

  <section class="food_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Menu
        </h2>
      </div>

      <ul class="filters_menu">
        <li class="active" data-filter="*">All</li>
        <li data-filter=".breakfast">Breakfast</li>
        <li data-filter=".lunch">Lunch</li>
        <li data-filter=".dinner">Dinner</li>
      </ul>

      <div class="filters-content">
        <div class="row grid">
          <div class="col-sm-6 col-lg-4 all breakfast">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'assets/images/f1.png' %}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Kanda Poha
                  </h5>
                  <p>
                    Experience India's beloved Kande Poha: a flavorful breakfast staple with flattened rice, onions, and spices, perfect for a delightful start.
                  </p>
                  <a class="view-recipe-btn" href="{% url 'recipe_detail' 1 %}">View Recipe</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all lunch">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'assets/images/f2.png' %}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Pad Thai
                  </h5>
                  <p>
                    Experience Bangkok's iconic dish: Pad Thai. Rice noodles stir-fried with shrimp, tofu, and tamarind sauce, garnished with peanuts and bean sprouts—a true taste of Thailand.
                  </p>
                  <a class="view-recipe-btn" href="{% url 'recipe_detail' 2 %}">View Recipe</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all dinner">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'assets/images/f3.png' %}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Gourmet Pizza
                  </h5>
                  <p>
                    Italian gourmet pizza elevates tradition with premium ingredients like truffles, prosciutto, arugula, and artisanal cheeses, offering a sophisticated flavor experience.
                  </p>
                  <a class="view-recipe-btn" href="{% url 'recipe_detail' 3 %}">View Recipe</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all dinner">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'assets/images/f4.png' %}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Japanese Sushi
                  </h5>
                  <p>
                    Experience Japanese authenticity: Meticulously crafted sushi embodies tradition. Indulge in Japan's essence with each bite.
                  </p>
                  <a class="view-recipe-btn" href="{% url 'recipe_detail' 4 %}">View Recipe</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all breakfast">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'assets/images/f5.png' %}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Pain au Chocolat
                  </h5>
                  <p>
                    Indulge in France's Culinary Tradition with our Exquisite Pastry, Blending Flaky Layers with Rich Chocolate for an Unforgettable Delight.
                  </p>
                  <a class="view-recipe-btn" href="{% url 'recipe_detail' 5 %}">View Recipe</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all lunch">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'assets/images/f6.png' %}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Fish Tacos
                  </h5>
                  <p>
                    Experience the essence of Mexico's coast with our Fish Tacos recipe: crispy fish, crunchy slaw, and zesty sauce in warm tortillas.
                  </p>
                  <a class="view-recipe-btn" href="{% url 'recipe_detail' 6 %}">View Recipe</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all breakfast">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'assets/images/f7.png' %}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Greek Yogurt Parfait
                  </h5>
                  <p>
                    Indulge in a taste of Greece with our Greek Yogurt Parfait, featuring creamy yogurt layered with fresh fruits and crunchy granola for a wholesome breakfast treat.
                  </p>
                  <a class="view-recipe-btn" href="{% url 'recipe_detail' 7 %}">View Recipe</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all lunch">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'assets/images/f8.png' %}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Pinakbet
                  </h5>
                  <p>
                    Savor the essence of Philippine cuisine with Pinakbet—a flavorful vegetable medley cooked in savory shrimp paste, a true taste of tradition.
                  </p>
                  <a class="view-recipe-btn" href="{% url 'recipe_detail' 8 %}">View Recipe</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all dinner">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'assets/images/f9.png' %}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Spanish Paella
                  </h5>
                  <p>
                    Step into Spain's culinary world with our classic Paella recipe. Saffron-infused rice, seafood, chicken, and veggies come together in this Mediterranean masterpiece.
                  </p>
                  <a class="view-recipe-btn" href="{% url 'recipe_detail' 9 %}">View Recipe</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--button class="view-more-btn">View More</button-->
    </div>
  </section>

  <!-- end food section -->

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'assets/images/about-img.png' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                We Are EdibleEpic
              </h2>
            </div>
            <p>
              Step into the flavorful universe of EdibleEpic, where a diverse collection <br>of recipes awaits your culinary exploration. From aromatic stir-fries to comforting stews and vibrant dishes, our platform offers a mosaic of global flavors to tantalize your taste buds. Embrace the joy of cooking <br>and embark on a delicious journey with EdibleEpic today.
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- client section -->

  <section class="client_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center psudo_white_primary mb_45">
        <h2>
          What Says Our Customers
        </h2>
      </div>
      <div class="carousel-wrap row ">
        <div class="owl-carousel client_owl-carousel">
          <div class="item">
            <div class="box">
              <div class="detail-box">
                <p>
                  Edible Epic has transformed my cooking journey. From French pastries to Indian curries, each recipe is a culinary adventure. Clear instructions and accessible ingredients make cooking a joy.
                </p>
                <h6>
                  Caroline
                </h6>
                <p>
                  Cannes,France
                </p>
              </div>
              <div class="img-box">
                <img src="{% static 'assets/images/client1.jpg' %}" alt="" class="box-img">
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="detail-box">
                <p>
                  Edible Epic enriches my culinary journey. From risotto to sushi, each recipe is an adventure. Clear instructions and accessible ingredients make cooking a joy.
                </p>
                <h6>
                  Lui Wei
                </h6>
                <p>
                  Beijing,China
                </p>
              </div>
              <div class="img-box">
                <img src="{% static 'assets/images/client2.jpg' %}" alt="" class="box-img">
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="detail-box">
                <p>
                  Edible Epic is my culinary oasis. From American burgers to Mexican tacos, every recipe is a taste sensation. Clear instructions and accessible ingredients make cooking a joy.
                </p>
                <h6>
                  Andrea
                </h6>
                <p>
                  Rome,Italy
                </p>
              </div>
              <div class="img-box">
                <img src="{% static 'assets/images/client3.jpg' %}" alt="" class="box-img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="displayYear"></div>
    <script>
        function getYear() {
            var currentDate = new Date();
            var currentYear = currentDate.getFullYear();
            document.querySelector("#displayYear").innerHTML = currentYear;
        }

        document.addEventListener("DOMContentLoaded", function() {
            getYear();
        });
    </script>

  <!-- end client section -->

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Contact Us
            </h4>
            <div class="contact_link_box">
              <!--a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Location
                </span>
              </a-->
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +01 1234567890
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  edibleepic@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
              EdibleEpic
            </a>
            <p>
              Embark on a culinary journey with Edible Epic - where every recipe is a destination.
            <div class="footer_social">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            Contents
          </h4>
          <a href="{% url 'new_recipes' %}">
            New Recipies<br>
          </a>
          <a href="{% url 'ingredients' %}">
            Ingredients<br>
          </a>
          <a href="{% url 'about' %}">
            About<br>
          </a>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <script src="{% static 'assets/js/jquery-3.4.1.min.js' %}"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script src="{% static 'assets/js/bootstrap.js' %}"></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <!-- custom js -->
  <script src="{% static 'assets/js/custom.js' %}"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</body>

</html>